*
{
  box-sizing: border-box;
}

/** HEADER **/
.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px; 
}

.navbar-nav
{
  background-color: #CCC;
  margin: 0;
  text-align: center;
}
/* END HEADER */
.row
{
  padding: 20px;
}
.item {
  padding: 5px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.col-xs-12
{
  border-width: 10px;
  background-color: #CCC;
  height: 1000px;
}

